<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/bootstrap-4.5.3/css/bootstrap.min.css" rel="stylesheet">
        <title>Login page</title>
    </head>
    <body class="py-5">
        <div class="container">
            <div class="w-25 border border-danger rounded mx-auto text-center text-danger py-1"
                 style="background-color: RGBA(220, 53, 69, 0.25);" th:if="${param.error}">
                <span>Invalid username or password.</span>
            </div>
            <div class="w-25 border border-success rounded mx-auto text-center text-success py-1"
                 style="background-color: RGBA(40, 167, 69, 0.25);" th:if="${param.logout}">
                <span>You have been logged out.</span>
            </div>
            <form class="w-25 mx-auto mt-2 text-center" method="post">
                <h2>Please sign in</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control my-1" placeholder="Email address" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control my-1" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>